footer {
    background-color: $gray;
    padding: $spacing-4 0 $spacing-4;

    .footer-nav {

        ul {
            margin: 0;
            padding: 0;            

            > li {
                list-style:none;
            }
        }

        a {
            text-decoration: none;
            color: $navy-blue;
            transition: .2s ease all;
            
            &:hover {
                color: $brand-aifin;
            }
        }
    }

    [class*="col-"] {
        margin-bottom: $spacing-4;
    }

    @media (max-width: 992px) {
        text-align: center;
    }
}