body {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: $text-color;
    font-weight: $light;
    letter-spacing: 0.2px;  
    position: relative;  
}

main {
    padding-top: 72px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: $extra-light;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 40px;
}

.medium-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ol {
    padding-left: $spacing-3;
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }
    
}