.header {
    background-color: $white; 
    position: fixed;   
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    @media (max-width: 767px) {
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-3 0;

    @media (max-width: 540px) {
        padding: $spacing-2 0;

        .logo img {
            width: 150px;
        }
    }

    
}