.desktop-nav {
    display: flex;
    align-items: center;
    position: absolute;
    right:0;

    > :last-child {
        margin-left: $spacing-3;
    }

    > ul {
        margin:0;
        padding:0;

        li {
            display: inline-block;
            margin-left: $spacing-3;

            > a {
                padding: $spacing-1 $spacing-2;
                color: $text-color;
                text-decoration: none;
                font-weight: $regular;
                opacity: 0.8;
                transition: .15s ease all;
                font-size: 16px;

                &.active {
                    font-weight: $medium;
                    opacity: 1;
                    color: $brand-aifin;
                }              
            }
        }
    }
}

.scroll-top {
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;    
}

.scroll-top-action {
    display: inline-flex;
    align-items: center;
    color: $navy-blue;
    text-decoration: none !important;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        .icon-scrolltop {
            transform: translateY(-4px);
        }
    }
}

.icon-scrolltop {
    display: inline-block;
    margin-left: $spacing-3;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: $brand-aifin;
    border-radius: 50%;
    transition: .2s ease all;
    
    &:after {
        content: "";
        border-width: 0 10px 12px 10px;
        border-style: solid;
        border-color: transparent transparent $white transparent;
        position: absolute;
        top: calc(50% - 6px);
        left: calc(50% - 10px);
    }
}

.mobile-menu-button {
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    z-index: 100;

    @media (min-width: 993px) {
        display: none;
    }
}

.mobile-menu__box {
    width: 24px;
    height: 24px;
    padding: 6px 3px;
}

.mobile-menu__inner {
    transition: transform .4s cubic-bezier(.68,-.55,.265,1.55),background-color;
    

    .mobile-menu-active & {
        transition: transform .4s cubic-bezier(.68,-.55,.265,1.55),background-color;
        transform: translate3d(0,5px,0) rotate(135deg);
        transition-delay: .1s;
    }

    &:before,
    &:after {
        content: "";
        display: block;
    }

    &:before {
        top: 5px;
        transition: opacity .15s ease .18s,background-color 0s linear 0s;

        .mobile-menu-active & {
            transition-delay: .1s;
            opacity: 0;
        }
    }

    &:after {
        top: 10px;
        transition: transform .4s cubic-bezier(.68,-.55,.265,1.55),background-color 0s linear 0s;

        .mobile-menu-active & {
            transform: translate3d(0,-10px,0) rotate(-270deg);
        }
    }
}

.mobile-menu__inner,
.mobile-menu__inner:before,
.mobile-menu__inner:after {
    background-color:$navy-blue;
    width: 18px;
    height: 2px;
    position: absolute;

    .mobile-menu-active & {
        background-color: $white;
    }
}

.mobile-nav {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: $navy-blue;
    opacity: 0;
    visibility: hidden;
    padding: 30% 20%;
    transition: .3s opacity ease;

    .mobile-menu-active & {
        display:flex;
        opacity: 1;
        visibility: visible;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;

        > li {
            text-align: center;
            transform: translateX(-10px);
            transition: .6s ease all;
            opacity: 0;
            list-style: none;

            .mobile-menu-active & {
                transform: translateX(0);
                opacity: 1;
            }

            &:nth-child(1) {
                transition-delay: .2s;
            }

            &:nth-child(2) {
                transition-delay: .3s;
            }

            &:nth-child(3) {
                transition-delay: .4s;
            }

            &:nth-child(4) {
                transition-delay: .5s;
            }

            &:nth-child(5) {
                transition-delay: .6s;
            }
        }

        a {
            color: $brand-aifin;
            text-decoration: none;
            padding: $spacing-2 $spacing-3;
            font-size: 20px;
            display: inline-block;                        
        }
    }
}

.mobile-menu-active {
    overflow: hidden;
}

@media (max-width: 992px) {
    .desktop-nav {
        display: none;
    }
}