// BS Button overwrites
.btn {
    border-radius: 50px;
    padding: $spacing-2 $spacing-4;
    border: 0;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $brand-aifin;   
    transition: .2s cubic-bezier(.3,.72,.61,1) all;

    &:hover {
        background-color: darken($brand-aifin, 5) !important;
        transform: scale(1.06);
    }

    &:active,
    &:focus {
        background-color: darken($brand-aifin, 10) !important; 
        transform: scale(1);
    }
}

.btn-secondary {
    background-color: $brand-aicounting;
    padding: $spacing-1 $spacing-3; 

    &:hover {
        background-color: darken($brand-aicounting, 5);
    }
}

// Container overwrites
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
