@mixin pattern($width: 800px, $height: 800px, $background-size: 800px auto) {
    content: "";
    width: $width;
    height: $height;
    background: url(../images/intro-pattern-r.png) 0 0 no-repeat;
    background-size: $background-size;
    position: absolute;    
}

@mixin overlay($background-color: rgba(0,0,0,0.3)){
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color;
}

section {
    padding: ($spacing-6 + $spacing-3) 0 $spacing-6;

    .btn {
        margin-top: $spacing-3;
        font-size: 20px;
    }

    h1, h2, h3 {
        margin-bottom: $spacing-4;
    }
}

.aifin-aim {
    overflow: hidden;    

    @media (min-width: 992px) {
        padding-top: $spacing-6 + $spacing-2;        
        padding-bottom: $spacing-6 + $spacing-2;

        img {
            transform: scale(1.2);
            margin-left: $spacing-6;
        }
    }

    .row {
        align-items: center;
    }

    
}

.aifin-intro {
    background: $gray url(../images/intro-r.png) right 0 no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &:after {
        @include pattern();
        right:-100px;
        bottom: -240px;
    }

    h1 {
        line-height: 1.1;
    }
    
    .container {
        position: relative;
        z-index: 1;
    }
}

.aifin-for {
    background-color: $brand-aifin;
    text-align: center;
    color: $white;
    position: relative;
    overflow: hidden;

    &:before {
        @include pattern();
        right: -480px;
        bottom: -61px;
        transform: rotate(100deg);
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .aifin-mutual {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $text-color;
        font-size: 28px;
        margin-top: $spacing-5;
        justify-content: center;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        &__item {
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $spacing-3;
            border-radius: 50%;
            background-color: $white;
            line-height: 1.2;        
        }

        &__symbol {
            font-size: 60px;
            color: $white;
            margin: 0 $spacing-3;
        }

        > :last-child {
            font-weight: $medium;
        }

        
    }
}

.core-values {
    background-color: $gray;    
}

.aifin-round {
    margin-top: $spacing-6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center; 
    justify-content: center; 
     
    @media (max-width: 480px) {
        flex-direction: column;
    }     

    &__item {            
        margin-right: $spacing-2;
        margin-bottom: $spacing-3;
        justify-content: center;
        flex-basis: 19%;        
        flex-shrink: 1;
        display: flex;
        flex-direction: column; 
        align-items: start;
        justify-content: start;            

        @media (max-width: 1199px) {
            flex-basis: 31.333%;
        }
        
        @media (max-width: 767px) {
            flex-grow: 1;
        }

        

        &:last-child {
            margin-right: 0;
        }

        &:hover {

            .aifin-round__shape {
                transform: scale(1.05);
                box-shadow: 0 0 0 10px rgba($white,0.45), 0 2px 25px rgba(0,0,0,0.05);
            }
        }
    }

    &__shape {
        width: 180px;
        height: 180px;
        padding: $spacing-2;
        background-color: $white;
        border-radius: 50%;
        margin-bottom: $spacing-4;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s ease all;
    }

    &__content {
        margin-left: auto;
        margin-right: auto;
        h4 {
            font-weight: $medium;
        }
    }
}

.aicounting {    
    overflow: hidden;
    border-left: 20px solid $white;
    border-right: 20px solid $white;

    .container {
        z-index: 1;
    }

    .aicounting-logo {
        position: relative;
        z-index: 9;
       
        p {
            @extend h3;
        }

        @media (max-width: 540px) {

            img {
                width: 200px;
            }

            p {
                font-size: 20px;
                margin-top: $spacing-2;
            }
            
        }
    }

    .aicounting-justification {
        position: relative;
        margin-top: $spacing-5;
        padding-top: $spacing-5;
        padding-bottom: $spacing-5;
        background-color: $brand-aicounting;
        color: $white;
        box-shadow: -$spacing-7 0 0 $brand-aicounting, $spacing-7 0 0 $brand-aicounting;

        &:before {
            @include pattern();
            right: -600px;
            top: -371px;
            transform: rotate(55deg);
        }

        &:after {
            content: "";
            border-width: 0 30px 28px 30px ;
            border-color: transparent transparent $brand-aicounting transparent;
            border-style: solid;
            position: absolute;
            top: -28px;
            left: calc(50% - 28px);
        }

        @media (min-width: 1200px) {
            > [class*="col-"]:first-child {
                padding-right: $spacing-6;
                border-right: 2px solid rgba($white,0.4);                
            }

            > [class*="col-"]:last-child {
                padding-left: $spacing-6;
            }
        }       
        
        @media (max-width: 992px) {
            > [class*="col-"]:first-child {
                padding-bottom: $spacing-4;
                border-bottom: 2px solid rgba($white,0.4);   
            }

            > [class*="col-"]:last-child {
                padding-top: $spacing-4;
            }
        }
    }

    li {
        margin-bottom: $spacing-2;
    }
}

.aicounting-quote {
    color: $white;
    position: relative;
    background:url(../images/aifin-quote-r.jpg) center center no-repeat;
    background-size: cover;

    &:before {
        @include overlay();
    }

    .quote-first {
        font-size: 32px;
        line-height: 1.2;
        // opacity: 0.8;
        color: lighten($brand-aicounting,30);

        @media (max-width: 540px) {
            font-size: 24px;
        }
    }

    .quote-second {
        @extend h2;
        line-height: 1.2;
        font-weight: $extra-light;

        @media (max-width: 540px) {
            font-size: 30px;
        }
    }
}

.aifin-features {
    
    .container {
        position: relative;

        &:after {
            content: "";
            border-width: 0 30px 28px 30px ;
            border-color: transparent transparent $brand-aicounting transparent;
            border-style: solid;
            position: absolute;
            bottom: -($spacing-6);
            right: 25%;

            

            @media (max-width:767px) {
                right: 50%;
                bottom: -($spacing-5);
            }
        }
    }


}

.aifin-data {
    background-color: $brand-aicounting;
    position: relative;
    overflow: hidden;
    
    .medium-content {
        color: $white;
    }

    &:before {
        @include pattern();
        left: -300px;
        bottom: -190px;
        transform: rotate(-140deg) scale(1.1);
    }

    .container {
        position: relative;
        z-index: 1;        
    }
}

.team {
    background-color: $gray;    

    .team-background {
        font-size: 16px;
        margin-bottom: $spacing-5;
    }

    .team-profile {
        small {
            color: lighten($navy-blue, 14);
        }
    }
}

.new-market {
    background: url(../images/new-market.jpg) right 0 no-repeat;
    background-size: cover;
    padding-top: $spacing-7;
    padding-bottom: $spacing-7;
    color: $white;
    position: relative;
    overflow: hidden;

    &:before {
        @include overlay();        
    }

    &:after {
        @include pattern();
        left: calc(50% - 520px);
        bottom: calc(50% - 520px);
        transform: rotate(35deg) scale(2.2);
        opacity: 0.8;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    p {
        font-size: 24px;
    }
}

// Table breakpoint
@media (max-width: 767px) {
    section {
        padding: $spacing-5 0;
    }

    .aifin-intro {

        &:after {
            opacity: 0.5;
        }

        &:before {
            @include overlay(rgba($navy-blue,0.45));
        }
        h1 {
            color: $white;
            line-height: 1;
        }
    }
}