$white: #ffffff;

$neon-green     : #44D62C;
$orange         : #FF9900;
$navy-blue      : #1B365D;

$brand-aifin:       $neon-green;
$brand-aicounting:  $orange;

$text-color:        $navy-blue;

$gray:          #F5F5F5;

$spacing-1:     8px;
$spacing-2:     12px;
$spacing-3:     20px;
$spacing-4:     36px;
$spacing-5:     60px;
$spacing-6:     100px;
$spacing-7:     150px;

$extra-light:   200;
$light:         300;
$regular:       400;
$medium:        500;